<div class="container container-screen">
    
    <div class="container container-content">
        <h2 id="quienes-somos">¿Quienes Somos?</h2>
        <p id="informacion">Aquadmin es un proyecto realizado para mantener siempre
            hidratados de la manera correcta a nuestras queridas mascotas.
            Midiendo en todo momento la temperatura y cantidad de
            agua restante de su recipiente para que siempre esten en las 
            condiciones adecuadas.
        </p>
        <button class="btn-large waves-effect waves-light" type="submit" name="action">Ver Producto
        
        </button>
        <br>
        
        
    </div>
    
    
</div>

