<nav>
    
      <div class="nav-wrapper cyan lighten-2">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="container title-container">
            <a class="brand-logo center">Inicio</a>
        </div>
        
        <ul id="nav-mobile" class="right ">  <!-- hide-on-med-and-down -->
          <a class="waves-effect waves-light btn modal-trigger light-blue accent-3" href="#modalRegistro">Registro</a>
          <a class="waves-effect waves-light btn modal-trigger blue darken-3" href="#modalLogin">Login</a>
          
        </ul>
      </div>
 </nav>