
 <!-- Modal Structure -->
 <div id="modalLogin" class="row modal">
    
  <div class="center-align">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://i.pinimg.com/originals/6c/03/3f/6c033f216b5ab0f78bd410aba13a5ed5.jpg" style="height: 400px;">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="header">Inicio de Sesion</h5>
          <br>
          <form>

            <div class="row">

                <div class="input-field col s12">
                    <input type="text" name="email" id="email" placeholder="Ingrese correo electronico">
                    <label for="email">Correo electronico</label>
                </div>

                <div class="input-field col s12">
                    <input type="password" name="password" id="password" placeholder="Ingrese contraseña">
                    <label for="password">Contraseña</label>
                </div>


            </div>

          </form>
        </div>
        
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  
</div>


