.user-view{
    height: 140px;
}

.background{
    margin: auto;
    margin-left: auto;  
    margin-right: auto; 
}

img{
    max-width: 115%;
    max-height: 115%;
    object-fit: contain;
    
    margin-left: 10px
}

.circle{
    align-content: center;
}

/* unvisited value */
