.background-image{ 
    margin: 0;
    padding: 0; 
    background: url(../../assets/mascotas-sura.jpg); 
    background-size: cover; 
    background-position: center; 
    font-family: sans-serif; }

