<div class="container container-screen">
    <div class="container container-content">
        <br><br>
        <div class="card-panel blue darken-1"><h3 class="white-text ">Agua de mi mascota</h3></div><br>
        <div class="row">
            <div class="col s2 center">Imagen Gota de Agua</div>
            <div class="col s4 center">
                <div>Nivel del Agua</div>
                <div><h2 id="">1</h2></div>
            </div>
            <div class="col s2 center">Imagen Termometro</div>
            <div class="col s4 center">
                <div>Temperatura del Agua</div>
                <div><h2 id="">1</h2></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s6 center" id="">Grafica Agua</div>
            <div class="col s6 center" id="">Grafica Temperatura</div>
        </div>
    </div>
</div>

