
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col s6"><div class="card"><div class="row">
                <div class="col s5 center"><img src="../../assets/agua.png" alt=""></div>
                <div class="col s7 center"><div class="card">
                    <div>Nivel del Agua</div>
                    <div><h2 id="">1%</h2></div>
                </div></div>
            </div></div></div>
            <div class="col s6"><div class="card"><div class="row">
                <div class="col s5 center"><img src="../../assets/termometro.png" alt=""></div>
                <div class="col s7 center"><div class="card">
                    <div><h5>Temperatura del Agua</h5></div>
                    <div><h2 id="">1%</h2></div>
                </div></div>
            </div></div></div>
        </div>
        <br>
        <div class="row">
            <div class="col s6 center" id=""><div class="card">Grafica Agua</div></div>
            <div class="col s6 center" id=""><div class="card">Grafica Temperatura</div></div>
        </div>
    </div>

